.settings
target
.project
.factorypath
.classpath
bin
*.iml
.idea
_*.sh
*.local
*.localz
app.properties
*.zip
*.versionsBackup
*.log*
*.backup
app-local.properties
truststore.jts
*.un~
APP_LOG_HOME_IS_UNDEFINED
.mvn/maven.config
.flattened
